        * {
            padding: 0;
            margin: 0;
        }

        .main {
            font-size: 15px;
            font-family: 'Segoe UI';
        }

        .menu {
            display: flex;
            justify-content: right;
            align-items: center;
        }

        .menu ul {
            display: flex;
            justify-content: left;
        }

        .menu ul li {
            list-style: none;
            margin: 10px 10px;
            border-bottom: transparent;
            transition: 200ms;

        }
        .menu ul li{
            
        }
        .menu ul li a{
            color: black;
            text-decoration: none;
        }
        .menu ul li a:hover {
            color: black;
            text-decoration: underline;
        }

        .menu ul li #button {
            text-decoration: none;
            color: white;
            background-color: rgb(26,115,232);
            margin: 15px 15px;
            font-weight: 500;
            padding: 5px 15px;
            border-radius: 4px;
        }
/* ________________________________________Mid Section CSS starts from here___________________________________________ */
        .mid img {
            width: 320px;
            height: 100px;
            position: absolute;
            top: 15%;
            left: 38%;
        }

        .mid span #icon {
            width: 15px;
            height: 15px;
            position: absolute;
            top: 34.5%;
            left: 32%;
            z-index: 100;
        }

        .mid input {
            width: 500px;
            height: 30px;
            border-radius: 30px;
            font-size: 15px;
            border: 1px solid rgba(85, 85, 85, 0.575);
            padding-top: 2px;
            padding-left: 40px;
            position: absolute;
            top: 33%;
            left: 31%;
        }

        .mid .offer {
            font-size: 12px;
            position: absolute;
            top: 46%;
            left: 43%;
        }

        .mid .offer a {
            text-decoration: none;
        }

        .mid :nth-child(3) {
            position: absolute;
            top: 38%;
            left: 38%;
            border-radius: 3px;
            text-decoration: none;
            color: black;
            padding: 7px;
            margin: 8px 0;
        }

        .mid :nth-child(4) {
            position: absolute;
            top: 38%;
            left: 48%;
            border-radius: 3px;
            text-decoration: none;
            color: black;
            padding: 7px;
            margin: 8px 0;
        }
/* ______________________________________End Section CSS starts from here_______________________________________ */
        .end {
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        .end .end-1 span {
            padding: 0 15px;
        }

        .end .end-2 {
            display: flex;
            justify-content: space-between;
        }

        .end .end-2 ul {
            display: flex;
            list-style: none;
            padding: 0 15px;
        }

        .end .end-2 ul li a {
            text-decoration: none;
            color: black;
        }

        .end .end-2 ul li {
            padding-top: 2px;
            padding-right: 15px;
        }